#Home {
  padding: 0px;
  padding-top: 100px;
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blog {
      width: 100%;
    }

    .buttons {
      display: flex;
      gap: 50px;
      padding-top: 50px;
      button {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border-radius: 5px;
        border: none;
        font-size: 30px;
        font-weight: 800;
        background: #ffa600;
      }
    }
  }
}
